* {
  
  font-size: 101%;
}


.logo{
  width: 65px;
  height: 65px;
  margin-left: 45%;
}

.barra a{
  padding: 0;
  margin: 10px;
}

.barra{
  width: 90%;
 display: flex;
 justify-content: center;
 margin: 5px;
 
}

.cartWidget img{
  margin: 5px 5px;
  width: 35px;
  height: 35px;
  
}

.itemList{
  margin: 5%;
  display: flex;
  justify-content: center;
  
  

}

.itemList h2 font{
  background-color: rgba(0, 255, 255, 0.452);
 
}

.imgCard{
  width: 200px;
  height: 300px;
}